# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
. kotlin/
*.orig.*
*.jks
*.p8
*.p12
*. key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Keystores (sensitive - never commit!)
android/app/eas-release.keystore
android/app/release. keystore
@9800960639__gym-udaan*. jks

# Firebase Admin SDK (sensitive!)
utils/gymudaanmobileapp-de08d-firebase-adminsdk-fbsvc-87e7fa6917.json
gymudaanmobileapp-de08d-firebase-adminsdk-fbsvc-*. json